body {
    background-color: #5CDB95;
    color: white;
}
h1 {
    text-align: center;
}
.btnClassWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btnClass {
    height: 100%;
    width: 400px;
    /* border: 4px solid indigo; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.btnClass > button {
    width: 60px;
    height: 60px;
    flex: 0 1 100px;
    color: #EDF5E1;
    /* border: 4px solid darkslategray; */
    background: #05386B;
}

.btnClass > button:hover {
    background: #105fae;
}

#score {
    color: black;
    text-align: center;
}

#finalWin {
    color: black;
    text-align: center;
}

#currChoice, #currWin{
    color: black;
    text-align: center;
}